<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TV Time</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Paytone+One|Raleway" rel="stylesheet">
</head>

<body id="main_page">
    <div class="header">
        <!-- <img id="logo" src="/assets/antena.png"> -->
        <div id='title'>TV TIME</div>
        <div id='tagline'>never miss a show</div>
    </div>
    <div class="login">
        <div id="login-form">
            <form action="/users/login" method="post">
                <input placeholder="username" name="user[email]" type="text" class="inputs">
                <br>
                <input placeholder="password" name="user[password]" type="password" class="inputs">
                <br>
                <input id="submit_login" type="submit" value="enter">
            </form>
            <br>
            <form action="/users/new" method="get">
              <input id="submit_login" type="submit" value="sign up">
            </form>
        </div>
    </div>
</body>

</html>