body {
	text-align: center;
	background: black;
	color: white;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: gray;
}

#logo {
	height: 25vh;
}

.login {
	background: url('../assets/BG.png') no-repeat, fixed;
	background-size: cover;
	height: 75vh;
	width: 60vw;
	margin: 0 auto;
}

#login-form {
	padding-top: 20%;
}

.inputs {
	font-family: 'Open Sans', sans-serif;
	font-size: .75em;
	margin: 0 auto;
	padding: 10px;
	width: 15%;
	display: block;
	border: none;
	border-radius: 5%;
}

input[type="submit"] {
	font-family: 'Open Sans', sans-serif;
}