body {
    border: 0;
    text-align: center;
    background: #4682B4;
    color: white;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

#main_page {
    overflow: hidden;
}

#title {
    font-size: 88px;
    color: #001D40;
    text-decoration: none;
}

#tagline {
    font-size: 36px;
    color: lightgrey;
}

.header {
    font-family: 'Paytone One', sans-serif;
    /*color: #FF9B00;*/
    color: papayawhip;
    margin-bottom: 4%;
}

.nav-bar {
    display: flex;
    text-align: row;
    align-items: flex-start;
    justify-content: flex-end; 
    border: 2%;
}

#profile_link, #logout {
    color: black;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-size: 28px;
    background-color: #FF9B00;
    text-align: center;
    padding: 10px;
    border: 1px solid #4682B4;
}

#profile_link {
    float: left;
}

#logout {
    float: right;
}

#addComments:hover,
#edit-show:hover,
#save_show:hover,
#submit_login:hover,
#sign_up:hover,
#save_show:hover,
#profile_link:hover,
#logout:hover
{
    opacity: 0.5;
    cursor: pointer;
}

#submit_login,
#sign_up {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-size: 28px;
    width: 25%;
    background-color: #FF9B00;
    border: none;
}

#save_show, #edit-show, #addComments {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    background-color: #FF9B00;
    margin: 2%;
    border: none;
    font-size: 20px;
    text-align: center;
    color: black;
}

.login {
    background-size: cover;
    height: 75vh;
    width: 60vw;
    margin: 0 auto;
    text-align: center;
}

#login-form {
    padding: 5%;
}

.inputs {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    margin: 0 auto;
    padding: 10px;
    width: 40%;
    display: block;
    border: none;
    border-radius: 5px;
}

input[type="submit"] {
    font-family: 'Raleway', sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    overflow: scroll;
    /*cant assign a width without orientation changing to left*/
    /*width: 70%;*/
}

.saved-shows-container {
    text-align: center;
    border: 2px solid #555;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    padding: 2%;
    margin: 8px;
    border: 5px double white;
    background: #778899;
    -webkit-box-shadow: 1px -3px 25px 6px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px -3px 25px 6px rgba(0, 0, 0, 1);
    box-shadow: 1px -3px 25px 6px rgba(0, 0, 0, 1);
    */
    /*  border: 2px solid #FF9B00;
    margin: 2%;*/
    /*border-radius: 10%;*/
}

.searchbar {
    margin: 2%;
    padding: 1%;
    width: 45%;
    font-size: 28px;
    border: none;
    justify-content: center;
}

.delete-show {
    background-color: white;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Grey_close_x.svg/1024px-Grey_close_x.svg.png');
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    border-left: 2px solid #555;
    border-bottom: 2px solid #555;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 4px;
}

.delete-show:hover {
    background-image: url('http://www.clker.com/cliparts/0/7/e/a/12074327311562940906milker_X_icon.svg.med.png');
    cursor: pointer;
}

ul {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

