<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Show Comments</title>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Paytone+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Paytone+One|Raleway" rel="stylesheet">
</head>

<body>
    <a id="profile_link" href="/tvtime/profile"> Profile </a>
    <br>
    <div class="header">
        <br>
        <!-- <img id="logo" src="/assets/antena.png"> -->
        <div id='title'>tv time</div>
        <div id='tagline'>never miss a show</div>
    </div>
	
		<h2>Add Comments</h2>
        <!-- {{#showIdData}} -->
        <form>
            <textarea name='comments' id='comments' cols="40" rows="8"> {{{comments}}} </textarea>
            <button id='edit-show' data-id="{{id}}">save comment</button>
        </form>
        <!-- {{/showIdData}} -->
</body>

</html>