<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Show Comments</title>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Paytone+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Paytone+One|Raleway" rel="stylesheet">
</head>

<body>
    <a id="profile_link" href="/tvtime/profile">profile</a>
    <a href="/" id="logout" class="logout">logout</a>
    <br>
     <div class="header"> <br>
        <!-- <img id="logo" src="/assets/antena.png"> -->
        <div id='title'>TV TIME</div>
        <div id='tagline'>never miss a show</div>
    </div>
	   {{#showIdData}}
		<h2>add comments for {{{show_name}}} </h2>
        <form>
            <textarea name='comments' id='comments' cols="40" rows="8">{{{comments}}}</textarea> <br>
            <input value='save comment' id='edit-show' data-id="{{id}}">
        </form> {{/showIdData}} 
    </body>
    
</html>