<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"> {{#oneShow}}
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Paytone+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Paytone+One|Raleway" rel="stylesheet">
    <title>{{name}}</title>
    {{/oneShow}}
</head>

<body>
    <a id="profile_link" href="/tvtime/profile">profile</a> 
    <br>
     <div class="header"> <br>
        <!-- <img id="logo" src="/assets/antena.png"> -->
        <div id='title'>TV TIME</div>
        <div id='tagline'>never miss a show</div>
    </div>
    {{#oneShow}}
    <div class='saved-shows-container'>
        <h1>{{name}}:</h1>
        <ul>
        <li>Click image for official show site:</li><br>
        <a href="{{officialSite}}"> <img src="{{image.medium}}" alt=""> </a>
        <li>Network: {{network.name}}</li>
        <li>On-Air: {{status}}</li>
        <li>Premiered: {{premiere}}</li>
        <li>Rating: {{rating.average}}</li>
        <li>{{{summary}}}</li>
        {{#oneTime}}
        <li>Next Episode: Season: {{season}}, Episode: {{number}}</li>
        {{/oneTime}}
        <li>Air Date: {{showDate}} {{showHour}} </li>  <br> <br>
        </ul>
    </div>
    {{/oneShow}}

</body>

</html>