<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Paytone+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Paytone+One|Raleway" rel="stylesheet">
    <title>TV Time</title>
</head>

<body id="profile">

     <div class="header">
        <!-- <img id="logo" src="/assets/antena.png"> -->
        <div id='title'>tv time</div>
        <div id='tagline'>never miss a show</div>
    </div>
    <!-- searchbar from profile page -->
    <form action="/tvtime/search" method="POST">
        <input placeholder="Search for your shows..." name="input" type="text" class="searchbar"/>
    </form>

    <div class='container'>
    {{#savedShow}}
    <div class='saved-shows-container' data-id="{{show_id}}">
        <!-- delete show -->
        <div class="delete-show" data-id="{{id}}"></div>
		<!-- show image + link to oneShow page -->    		
        <a href="/tvtime/{{show_id}}"> <img src="{{image}}" alt=""> </a>
        <ul>
        <!-- running/ended -->
        <li>On air: {{on_air}}</li>
        <li>{{network}}</li>
        <!-- date/time -->
        <li>{{show_date}}, {{show_time}}</li>
		<!-- comments -->
        <li id="comments" data-id="{{show_id}}">{{comments}}</li>
        </ul>
    </div>
    {{/savedShow}}
    </div>

    <!-- logout to index.html (landing page) -->
    <a href="/" id="logout" class="logout">Logout</a>

</body>

</html>