<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	
	<script type="text/javascript" src="/js/jquery.js"></script>

  <script type="text/javascript" src="/js/script.js"></script>

	<title>Tv Time</title>

</head>
<body>
	<h1>This is the profile page</h1>	

	<!-- <input type="text" id="show_search" />
  <button id="submit">Search</button> -->

   <form action="/tvtime/search" method="POST">
          <input placeholder="Search for your shows..." name="input" type="text"/>
   </form>

   {{#show}}
	<div>
		<img src="" alt="">
		<p>{{name}}</p>
		<p>{{status}}</p>
	</div>
	{{/show}}


	<!-- logout to index.html (landing page) -->
	<a href="/" class="logout">Logout</a> 
	
</body>
</html>