<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Paytone+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Paytone+One|Raleway" rel="stylesheet">
    <title>Show Search</title>
</head>

<body>
    <a id="profile_link" href="/tvtime/profile"> Profile </a> <br>
    <div class="header"> <br>
        <!-- <img id="logo" src="/assets/antena.png"> -->
        <div id='title'>TV TIME</div>
        <div id='tagline'>never miss a show</div>
    </div>
    <!-- searchbar from profile page -->
    <form action="/tvtime/search" method="POST">
          <input placeholder="Search for your shows..." name="input" type="text" class="searchbar"/>
    </form>
    <!-- div that shows all search results on profile page -->
    {{#show}}
    <div class='container'>
        <div class='saved-shows-container'>
            <p>Click image for official show site:</p>
            <a href="{{officialSite}}"> <img src="{{image.medium}}" alt=""> </a>
            <br>
            <ul>
                <li>Name: {{name}}</li>
                <br>
                <li>On-Air: {{status}}</li>
                <br>
                {{#episode}}
                <li>Next Episode:<br> 
                "{{name}}"<br>
                Season: {{season}}, Episode: {{number}} <br>
                {{showDate}} {{showHour}}
                </li>
                {{/episode}}

                {{^episode}}
                <li>Next episode data not available</li>
                {{/episode}}
                <!-- <br>
                <li>{{showDate}} {{showHour}}</li> -->
                <br>
                <!-- saves show data to database on click -->
                <a href="/tvtime/profile">
                    <input id="save_show" type="submit" id="save-show" value="Save Show">
                </a>
            </ul>
        </div>
        {{/show}}
    </div>
</body>

</html>