<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Paytone+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Paytone+One|Raleway" rel="stylesheet">
    <title>Show Search</title>
</head>

<body>
    <a id="profile_link" href="/tvtime/profile">profile</a> 
    <a href="/" id="logout" class="logout">logout</a>
    <br>
    <div class="header"> <br>
        <!-- <img id="logo" src="/assets/antena.png"> -->
        <div id='title'>TV TIME</div>
        <div id='tagline'>never miss a show</div>
    </div>
    <!-- searchbar from profile page -->
    <form action="/tvtime/search" method="POST">
          <input placeholder="search for your shows..." name="input" type="text" class="searchbar"/>
    </form>
    <!-- div that shows all search results on profile page -->
    {{#show}}
    <div class='container'>
        <div class='saved-shows-container'>
            <p>Click image for official show site:</p>
            <a href="{{officialSite}}"> <img src="{{image.medium}}" alt=""> </a>
            <br>
            <ul>
                <li>Name: {{name}}</li>
                <br>
                <li>On-Air: {{status}}</li>
                <br>
                {{#episode}}
                <li>Next Episode:<br> 
                "{{name}}"<br>
                Season: {{season}}, Episode: {{number}} <br>
                {{showDate}} {{showHour}}
                </li>
                {{/episode}}

                {{^episode}}
                <li>next episode data not available</li>
                {{/episode}}
                <!-- <br>
                <li>{{showDate}} {{showHour}}</li> -->
                <br>

                <!-- saves show data to database on click -->
                <form action="/tvtime/search/save" method="POST">
                    <!-- hidden inputs for save -->
                    <input id="show_id", type="hidden" name="show_id" value="{{id}}">
                    <input id="show_name", type="hidden" name="show_name" value="{{name}}">
                    <input id="on_air", type="hidden" name="on_air" value="{{status}}">
                    <input id="image", type="hidden" name="image" value="{{image.medium}}">
                    <input id="show_date", type="hidden" name="show_date" value="{{schedule.days}}">
                    <input id="show_time", type="hidden" name="show_time" value="{{schedule.time}}">
                    <input id="network", type="hidden" name="network" value="{{network.name}}">
                    <input id="webShow", type="hidden" name="webShow" value="{{webChannel.name}}">
                    <!-- actual save search button -->
                    <input id="save_show" type="submit" id="save-show" value="Save Show">
                </form>
            </ul>
        </div>
        {{/show}}
    </div>
</body>

</html>